<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/resumechiness">简历(中文)</a></li>
                    <li><a href="/portfoliochinessportfolio">作品集(中文)</a></li>
                    <li><a href="/resumejapanese">履歴書(日本語)</a></li>
                    <li><a href="/portfoliojapanese">ポートフォリオ(日本語)</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
            <div class="container">

            {{ content }}

            </div><!-- /.container -->
            <footer>
                <ul>
                    <p>Thank you for watching！！！</p>
                    <li><a href="mailto:su.tuo@outlook.com">email to me:su.tuo@outlook.com</a></li>
                </ul>
            </footer>
        </body>
    </html>
